<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <!--<add connectionString="Data Source=DESKTOP-17TL78H;Initial Catalog=SalesERPDB;Integrated Security=True"
          name="SalesERPDAL"
          providerName="System.Data.SqlClient"/>-->
  <add name="SalesERPDAL" connectionString="server=127.0.0.1;user id=root;persistsecurityinfo=True;database=saleserpdal"
       providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>